<!DOCTYPE html>

<head>
    <title>Lista de Anúncios</title>
    <meta charset="UTF-08">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/index.css">
</head>

<header>
    Divulga Tudo
</header>

<body>


    <h2>Lista de anúncios</h2>

    <div class="filtros">

        <form action="/relatorio-filtercliente" method="POST">
            <label for-id="filtro">Filtrar por cliente</label>
            <input type="text" name="filterclient" placeholder="digite o cliente">
            <input type="submit" class="submit" value="Filtrar">
        </form>

        <form action="/relatorio-filterdata" method="POST">
            <label for-id="data-inicio">Filtrar Por data</label>
            <input type="date" name="filterdata">
            <input type="submit" class="submit" value="Filtrar">
        </form>

    </div>

    <% anuncios.forEach(anuncio=> { %>

        <div class="lista">
            <div class="anuncio">
                <ul>
                    <li>Título do anúncio:<b>
                            <%= anuncio.titulo%>
                        </b>
                    </li>
                    <li>Cliente: <%= anuncio.cliente%>
                    </li>
                    <li>Data de início:<%=anuncio.datainicio %>
                    </li>
                    <li>Data de fim:<%= anuncio.datafim %>
                    </li>
                    <li>Investimento por dia: R$<%=anuncio.investimentod %>
                    </li>
                </ul>

            </div>

            <div class="relatorio">

                Valor Total Investido:<b> R$
                    <%= anuncio.investimentototal%>
                </b>
                <p><b>Alcance MÁXIMO do anúncio:</b></p>
                <p><b>
                        <%= anuncio.viewstotais %>
                    </b> visualizações; </p>
                <p> <b>
                        <%= anuncio.clickstotais%>
                    </b> cliques;</p>
                <p> <b>
                        <%= anuncio.compartilhamentostotais%>
                    </b> compartilhamentos.</p>



            </div>
        </div>


        <%})%>






</body>

<a href="/">
    <button>Voltar para início</button>
</a>

</html>